@use 'variaveis';
@use 'mixins';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: variaveis.$cor-primaria;
  padding: 1rem;
  z-index: 1000;

  @include mixins.flex-center(column);
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: variaveis.$cor-secundaria;
  margin-bottom: 0.5rem;
  text-shadow: 2px 2px 5px #000;
}

.nav {
  background-color: #f0e990;
  border-radius: 8px;
  padding: 0.5rem 1rem;

  &__list {
    display: flex;
    gap: 1rem;
    list-style: none;
  }

  &__item {
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__link {
    text-decoration: none;
    color: variaveis.$cor-primaria;
    padding: 0.5rem 1rem;
    border-radius: 4px;

    &:hover {
      background-color: variaveis.$cor-secundaria;
    }
  }
}
