$cor-primaria: #1f2933;
$cor-secundaria: #ffd700;
$cor-clara: #f9fafb;
$cor-fundo-depoimentos: #f3f4f6;

$fonte-principal: Arial, sans-serif;

$espacamento-base: 2rem;
$espacamento-grande: 4rem;

$mobile: 768px;
